<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="p-2">

    <h1 class="text-center font-bold">회원가입</h1>

    <form method="post" class="flex flex-col gap-4" th:action onsubmit="submitSignupForm(this); return false">

        <div class="form-control">
            <input type="text" name="username" placeholder="아이디" class="input input-bordered mt-5">
        </div>

        <div class="form-control">
            <input type="password" name="password" placeholder="비밀번호" class="input input-bordered">
        </div>

        <div class="form-control">
            <input type="password" name="password_confirm" placeholder="비밀번호 확인" class="input input-bordered">
        </div>

        <button type="submit" class="btn btn-outline btn-block mt-5">
            회원가입
        </button>

    </form>


    <div class="text-center mt-6">
        이미 회원이신가요?
        <a role="button" class="btn btn-outline btn-block mt-5" th:href="@{/member/login}">로그인</a>
    </div>

    <script>
        function submitSignupForm(form) {

            const inputUsername = form.username;
            const inputPassword = form.password;
            const inputPassword_confirm = form.password_confirm;

            const username = inputUsername.value;
            const password = inputPassword.value;
            const password_confirm = inputPassword_confirm.value;

            if (username.length < 5) {
                toastWarning("ID를 5글자 이상 입력해주세요.")
                inputUsername.focus();
                return;
            }

            if (password.length < 8) {
                toastWarning("비밀번호를 8글자 이상 입력해주세요.")
                inputPassword.focus();
                return;
            }

            if (password_confirm != password) {
                toastWarning("비밀번호가 일치하지 않습니다.")
                inputPassword_confirm.focus();
                return;
            }

            form.submit();
        }
    </script>

</div>
</html>