<html layout:decorate="~{global/layout}">

<div layout:fragment="content" class="p-2">

    <div class="flex flex-col w-full">
        <div>
            <div th:text="${post.title}" class="font-bold mt-3.5 ml-2"></div>
            <div th:text="${post.author.username}" class="text-sm mt-2 ml-2"></div>
        </div>
        <div class="divider"></div>
        <div th:text="${post.body}" class="ml-2"></div>
        <div class="mt-10 text-xs" th:text="|작성: ${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}|"></div>
        <div th:if="${post.modifyDate}" class="text-xs" th:text="|수정: ${#temporals.format(post.modifyDate, 'yyyy-MM-dd HH:mm')}|"></div>
    </div>
    <div class="divider"></div>
    <div class="flex justify-between">
        <button class="btn btn-neutral text-xs h-6 mt-3" onclick="history.back()">뒤로가기</button>
        <div>
        <a role="button" class="btn btn-outline mt-3 mr-5" th:href="@{|/post/modify/${post.id}|}">수정</a>
        <a role="button" class="btn btn-outline mt-3" th:href="@{|/post/confirmDelete/${post.id}|}">삭제</a>
        </div>
    </div>


</div>


</html>